<div class="main">
    {{#with data}}
      <section class="section">
         <h1 class="section-title">Моя бібліотека</h1>
         <div class="gap">
            <a href="/spotify-search"><img src="svg/spotify-search.svg" class="section-image"></a>
            <a href="/spotify-choose"><img src="/svg/add-button.svg" class="section-image"></a>
         </div>
      </section>
      {{#each list}}
         </section class="section-2">
          <div class="cart-section">
            <div class="music">                                 <div class="none">/spotify-list.svg /svg/spotify-track.svg /svg/spotify-picture.svg</div>
                <img src="{{image}}" class="music-image">     
                <p class="music-description">Пісні, що сподобались</p>
                <p class="param">50 пісень</p>
            </div>
            {{!-- <div class="music">                                             
                <img src="{{image}}" class="music-image">
                <p class="music-description">Спільний альбом</p>
                <p class="param">20 пісень</p>
            </div> --}}
          </div> 
          <div class="cart-section">
            {{!-- <div class="music">                                       
                <img src="{{image}}" class="music-image">
                <p class="music-description">Інь Ян</p>
                <p class="param">10 пісень</p>
            </div> --}}
            <div class="music">
                <div class="music-2">
                   <img src="/svg/my-playlist.svg" class="music-image-2">
                </div>
                <p class="music-description">Мій плейліст №1</p>
                <p class="param">36 пісень</p>
            </div>
          </div>
       </section>
      {{/each}}
    {{/with}}
</div>